SpeedyChef/SpeedyChef/Resources/Resource.designer.cs
SpeedyChef/SpeedyChef/Resources/Resource.designer.cs
SpeedyChef/SpeedyChef/Resources/Resource.designer.cs
SpeedyChef/SpeedyChef/Resources/Resource.designer.cs
SpeedyChef/SpeedyChef/Resources/Resource.designer.cs
SpeedyChef/SpeedyChef/Resources/Resource.designer.cs
SpeedyChef/SpeedyChef/Resources/Resource.designer.cs